
@{
    ViewBag.Title = "Game For Geeks";
}

<link href="~/Content/css/Game.css" rel="stylesheet" />
<script src="~/Content/js/jquery-3.5.0.js"></script>
<script src="~/Content/js/Game.js"></script>
<div class="row full-height">
    <div class="center-block div-boxes">
        <div class="topRight div-image" boxid="0" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="div-countryName" boxid="0">Japanese</div>
        </div>
        <div class="topLeft div-image" boxid="1" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="div-countryName" boxid="1">Chinese</div>
        </div>
        <div class="bottomLeft div-image" boxid="2" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="div-countryName" boxid="2">Korean</div>
        </div>
        <div class="bottomRight div-image" boxid="3" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label class="div-countryName" boxid="3">Thai</label>
        </div>
        <div class="wrapper" style="display:none" id="divPersonImage">
            <img src="#" alt="Loading..." height="150" width="150" draggable="true" id="imgPerson"
                 ondragstart="drag(event)" />
        </div>
    </div>

</div>
<div class="row" id="divPersonPoint">
    <div class="col-lg-12 col-md-12 col-sm-12  center-block  text-center">
        <label>Total points: </label><label><span id="spanPoints">0</span><span>&nbsp;Points.</span></label>
    </div>
    
  
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 center-block  text-center">
        <button type="button" class="btn btn-success btn-lg"  id="btnPlayGame" onclick="PlayGame()">Play</button>
    </div>
</div>



